MODELDECK_HOST=127.0.0.1
MODELDECK_MANAGEMENT_PORT=3600
MODELDECK_GATEWAY_PORT=8600
MODELDECK_DATA_DIR=.modeldeck
MODELDECK_OPEN_DAY=0
MODELDECK_SCENECHAT_API_KEY=local
MODELDECK_ALLOW_DOWNLOADS=0
MODELDECK_DIAGNOSTIC_CAPTURE=0
